In [1]:
import os
import pandas as pd 
import numpy as np
from gensim.models import word2vec
from gensim.models import Doc2Vec, doc2vec
import matplotlib.pyplot as plt
import seaborn as sns
import logging
from gensim.similarities.index import AnnoyIndexer
import utils
import time 
from itertools import chain
from collections import Counter
from sklearn.multiclass import OneVsRestClassifier
import multiprocessing
from sklearn.cross_validation import train_test_split
import operator
import pickle
import xgboost as xgb
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MultiLabelBinarizer
import random
from sklearn.ensemble import ExtraTreesClassifier
%matplotlib inline

In [2]:
logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s', level=logging.INFO)

In [3]:
utils.data_directory()

On AWS instance
/home/ec2-user/data

In [4]:
aisles = pd.read_csv("aisles.csv")
departements = pd.read_csv("departments.csv")
order_products__prior = pd.read_csv("order_products__prior.csv")
order_products__train = pd.read_csv("order_products__train.csv")
order = pd.read_csv("orders.csv")
products = pd.read_csv("products.csv")
sample_submission = pd.read_csv("sample_submission.csv")

In [5]:
order.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [6]:
liste_user = np.unique(order.ix[order["eval_set"]=="train", "user_id"])

In [17]:
merge_order_product = pd.merge(order_products__prior[["order_id", "product_id", "reordered"]], 
                               order[["order_id", "user_id"]], on="order_id")
merge_order_product = merge_order_product[merge_order_product["reordered"]==1]

In [22]:
order_products__train = pd.merge(order_products__train, order[["order_id", "user_id"]],how="left", on="order_id")
order_products__train["product_id"] = order_products__train["product_id"].astype("unicode")
order_products__train = order_products__train[order_products__train["reordered"]==1]

In [18]:
merge_order_product.shape

(19126536, 4)

In [19]:
merge_order_product.groupby(["user_id","order_id"])["product_id"].apply(list)

user_id  order_id
1        431534                      [196, 12427, 10258, 25133, 13176]
         473747                                    [196, 12427, 10258]
         550135                      [196, 10258, 12427, 25133, 13032]
         2254736                     [196, 12427, 10258, 25133, 26405]
         2295261              [49235, 46149, 25133, 196, 10258, 12427]
         2398795                                   [196, 12427, 26088]
         2550362              [196, 46149, 25133, 10258, 13032, 12427]
         3108588                            [12427, 196, 10258, 25133]
         3367565                            [196, 12427, 10258, 25133]
2        738281                                                [32792]
         788338      [32792, 24852, 34688, 48110, 47209, 32052, 177...
         839880      [24852, 16589, 1559, 19156, 18523, 33754, 2170...
         1199898     [32792, 12000, 9681, 32139, 27344, 24852, 4506...
         1402090     [32792, 19051, 19156, 18523, 1559, 22124, 3375...
         1447487     [24852, 12000, 47209, 17872, 18523, 1559, 1915...
         1501582                                               [47766]
         1673511                                               [47766]
         1718559     [32792, 24852, 12000, 21376, 2002, 7781, 33754...
         1901567                                 [47766, 32792, 20574]
         3186735     [32792, 47209, 22124, 19156, 1559, 13351, 1852...
         3194192     [32792, 12000, 16589, 32052, 19051, 32139, 472...
3        444309                                  [21903, 17668, 32402]
         521107                    [39190, 47766, 21903, 43961, 17668]
         676467                    [18599, 17668, 47766, 39190, 32402]
         1402502            [39190, 18599, 23650, 21903, 47766, 24810]
         1839752       [39190, 1819, 21903, 16797, 24010, 14992, 9387]
         1972919       [22035, 39190, 9387, 47766, 1819, 24810, 44683]
         2037211                                                [9387]
         2710558      [39190, 9387, 17668, 47766, 16965, 28373, 21903]
         3002854                                 [39190, 47766, 21903]
                                           ...
206208   2573371     [36550, 27845, 40706, 43961, 18531, 22935, 144...
         2675140     [34213, 12674, 33000, 31404, 23644, 44359, 18770]
         2789700     [25659, 1463, 34213, 33000, 31404, 1804, 23644...
         2804556     [39475, 27966, 34213, 27845, 13176, 33000, 430...
         2808240     [23579, 890, 27845, 43999, 34213, 14467, 18770...
         2922221            [27845, 21846, 38419, 34126, 36550, 19816]
         2936891     [43086, 27845, 24838, 40706, 36550, 23579, 342...
         2995770     [34213, 27966, 27845, 46069, 13176, 14778, 407...
         3027766            [24838, 11520, 23579, 18770, 34213, 14467]
         3038194     [38419, 22935, 34213, 33000, 27966, 43086, 187...
         3049681     [34213, 33000, 18770, 13176, 46069, 20995, 147...
         3059777      [21137, 33000, 37208, 35688, 46069, 47626, 1463]
         3097121     [34213, 33000, 27966, 23579, 13176, 43295, 187...
         3128968     [34213, 13176, 43295, 14778, 27966, 33000, 394...
         3292671     [34213, 27845, 18770, 33000, 31404, 13176, 317...
         3356245     [34213, 11520, 27845, 23579, 18770, 33000, 279...
         3392839                          [34213, 23579, 18770, 33000]
         3412250     [34213, 27966, 11520, 1804, 4960, 42768, 14467...
206209   550836                                    [6846, 9405, 40992]
         626363      [6846, 24852, 9405, 19348, 41213, 15700, 38167...
         688306                           [41213, 13176, 23594, 23892]
         1542354     [6846, 41213, 9405, 40534, 40396, 13176, 25837...
         1854736              [6846, 9405, 41213, 24852, 19348, 15700]
         1889163              [41213, 9405, 20073, 25837, 13176, 6846]
         2129269             [38167, 43961, 19348, 13176, 6846, 40992]
         2266710                                   [9405, 6846, 41213]
         2307371                                   [9405, 6846, 13176]
         2558525                                  [38167, 23892, 6846]
         2977660                           [24852, 9405, 16168, 14197]
         3186442                                                [6187]
Name: product_id, dtype: object

In [24]:
order_products__train[order_products__train["user_id"]==1]

        order_id product_id  add_to_cart_order  reordered  user_id
484420   1187899        196                  1          1        1
484421   1187899      25133                  2          1        1
484422   1187899      38928                  3          1        1
484423   1187899      26405                  4          1        1
484424   1187899      39657                  5          1        1
484425   1187899      10258                  6          1        1
484426   1187899      13032                  7          1        1
484427   1187899      26088                  8          1        1
484429   1187899      49235                 10          1        1
484430   1187899      46149                 11          1        1